---
import Underline from '../underline/Underline.astro';

const { href } = Astro.props;
const { pathname } = Astro.url;

const pattern = new RegExp(`^${href}/?$`);
const underlineLink = pattern.test(pathname) && href !== '/home';
console.log(pattern.test(pathname));
---

<a
  class='font-montserrat text-white text-l tracking-[0.25em] relative flex justify-center items-center'
  href={href}
>
  <slot />
  {
    underlineLink && (
      <div class='absolute bottom-0 left-1/4 right-0'>
        <Underline classes='w-2/3' />
      </div>
    )
  }
</a>
