---
const { href, className } = Astro.props;
---

<a
  class={`font-montserrat text-white text-lg tracking-[0.25em] relative flex justify-center items-center font-bold ${className}`}
  href={href}
>
  <slot />
</a>
