---
import Divider from '../divider/Divider.astro';

const { href } = Astro.props;
const { pathname } = Astro.url;

const pattern = new RegExp(`^${href}/?$`);
const underlineLink = pattern.test(pathname) && href !== '/home';
---

<a
  class='font-montserrat text-white text-l tracking-[0.25em] relative flex justify-center items-center'
  href={href}
>
  <slot />
  {
    underlineLink && (
      <div class='absolute bottom-2'>
        <Divider classes='w-6/12 m-auto' color="#005E4A"/>
      </div>
    )
  }
</a>
