<div class='flex flex-col text-center'>
  <div class='font-balmyScript mt-16 text-3xl text-white'>save the date</div>
  <div class='font-balmy text-4xl text-custom-green mt-6'>21.06.2025</div>
</div>
