<div class='flex flex-col text-center'>
	<div
	  class='font-balmyScript mt-16 text-4xl text-white max-[1330px]:mt-24'
	>
	  address
	</div>
	<div class='flex flex-col'>
	  <div class='font-balmy text-4xl text-custom-green mt-6'>
		Bignor Park
	  </div>
	  <div class='font-balmy text-4xl text-custom-green'>West Sussex</div>
	  <div class='font-balmy text-4xl text-custom-green'>RH20 1HG</div>
	</div>
  </div>