---
const { heading, text } = Astro.props;
---

<div class='flex flex-col items-center'>
  <p class='text-2xl mb-4'>{heading}</p>
  <p class='font-balmyScript text-white text-2xl tracking-[0.25em]'>
    {text}
  </p>
</div>
