---
import Layout from '../layouts/Layout.astro';
import Polaroid from '../components/polaroid/Polaroid.astro';
import hideThePain from '../assets/hide_the_pain.jpeg';
import Title from '../components/title/Title.astro';
---

<Layout title="George & Izzy's Wedding 2025">
  <div class='flex flex-col mt-16 lg:mt-24 font-montserrat px-8 items-center'>
    <Title text='boo' />
    <Polaroid src={hideThePain} text='You are dead to us' />
  </div>
</Layout>
