---
import Layout from '../layouts/Layout.astro';
import Polaroid from '../components/polaroid/Polaroid.astro';
import Button from '../components/button/Button.astro';
import Date from '../components/date/Date.astro';
import Divider from '../components/divider/Divider.astro';
import gAndI from '../assets/g_and_i.jpeg';
import Address from '../components/address/Address.astro';
---

<Layout title="George & Izzy's Wedding 2025">
  <div
    class='flex flex-col items-center text-white justify-center mt-16 lg:mt-24'
  >
    <div class='px-3 lg:mb-12'>
      <Polaroid src={gAndI} />
    </div>
    <div class='px-8'>
      <Divider />
    </div>
    <div class='text-5xl'>💒</div>
    <Date />
    <div class='mt-16'>
      <Address />
    </div>
    <div class='px-8'>
      <Divider />
    </div>
    <p class='font-montserrat text-xl'>
      <strong>Let us know</strong> if you can make it!
    </p>
    <Button text='RSVP' classes='mt-12' />
  </div>
</Layout>
