---
import Layout from '../layouts/Layout.astro';
import Underline from '../components/underline/Underline.astro';
import Polaroid from '../components/polaroid/Polaroid.astro';
import Button from '../components/button/Button.astro';
import Divider from '../components/divider/Divider.astro';
import gAndI from '../assets/g_and_i.jpeg';
import Date from '../components/groovy-text/Date.astro';
---

<Layout title="George & Izzy's Wedding 2025">
  <div
    class='flex flex-col items-center text-white m-auto w-2/3 justify-center'
  >
    <div class='w-1/2'>
      <Polaroid src={gAndI} />
    </div>
    <!-- <p class='text-3xl mt-12'>🪩</p>
    <div class='flex'>
      <div class='text-5xl mt-2 animate-wiggle'>💃</div>
      <div class='text-5xl mt-2 animate-wiggle-delay'>🕺</div>
    </div> -->
    <div class='text-5xl my-12'>💒</div>
    <p
      class='text-center text-white text-2xl tracking-[0.25em] font-montserrat mb-12'
    >
      BIGNOR PARK · WEST SUSSEX
    </p>
    <Date />
    <Divider />
    <div class='flex'>
      <span class='font-montserrat text-2xl'>
        <div class='flex flex-col'>
          <strong>Let us know</strong>
          <Underline classes='scale-125 mt-2' />
        </div>
      </span>
      <span class='font-montserrat text-2xl'>&nbsp; if you can make it!</span>
    </div>
    <Button text='RSVP' classes='mt-20' />
  </div>
</Layout>
