---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/nav/Nav.astro';
import Underline from '../components/underline/Underline.astro';
import Button from '../components/button/Button.astro';
---

<Layout title="George & Izzy's Wedding 2024">
  <Nav />
  <div class='flex flex-col items-center mt-16'>
    <div class='flex'>
      <span class='font-montserrat text-2xl'>
        <div class='flex flex-col'>
          <strong>Let us know</strong>
          <Underline classes='scale-125 mt-1' />
        </div>
      </span>
      <span class='font-montserrat text-2xl'>&nbsp; if you can make it!</span>
    </div>
    <Button text='RSVP' classes='mt-8' />
    <p class='font-montserrat text-sm mt-8'>(if you can't you're dead to us)</p>
  </div>
</Layout>
