---
import Layout from '../layouts/Layout.astro'
import GeorgeAndIzzy from '../components/groovy-text/GeorgeAndIzzy.astro'
import Date from '../components/groovy-text/Date.astro'
import Sparkles from '../components/sparkles/Sparkles.tsx'
---

<Layout title="George & Izzy's Wedding 2024">
  <main class='flex flex-col justify-center items-center h-screen'>
    <div class='flex justify-center items-center w-2/3'>
      <Sparkles client:load>
        <div class='flex flex-col items-start -ml-8'>
          <GeorgeAndIzzy />
        </div>
        <p
          class='text-center text-rose-300 text-2xl mt-8 tracking-[0.25em] z-50'
        >
          SAVE THE DATE
        </p>
        <div class='flex justify-center mt-8'>
          <Date />
        </div>
      </Sparkles>
    </div>
  </main>
</Layout>
