---
import Sparkles from '../components/sparkles/Sparkles';
import Layout from '../layouts/Layout.astro';
---

<Layout title="George & Izzy's Wedding 2024" noNav>
  <main class='min-h-screen m-20 pb-10 px-10'>
    <div class='flex w-full justify-center flex-col text-center'>
      <div class='flex'>
        <div class='absolute pl-48 -mt-20'>
          <svg
            width='212'
            height='322'
            viewBox='0 0 212 322'
            fill='none'
            xmlns='http://www.w3.org/2000/svg'
            class='h-auto'
          >
            <path
              d='M98.5657 2C97.9378 2.52676 98.1996 3.26735 98.1958 3.91625C98.1188 17.0269 98.199 30.1407 97.95 43.2474C97.7597 53.2678 97.8974 63.2845 97.8246 73.3024C97.8138 74.7805 98.0589 76.2606 98.1856 77.7398'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M176.108 133.41C176.28 131.606 175.8 130.119 174.829 128.533C170.233 121.026 164.692 114.556 157.479 109.816C150.966 105.535 143.875 102.675 136.579 100.322C134.759 99.7355 132.939 99.0016 131.081 99.9631C130.501 100.263 130.198 99.8595 129.945 99.6915C127.013 97.748 123.545 97.4363 120.419 96.1038C120.255 96.034 120.036 96.0612 119.853 96.1C118.188 96.4538 116.569 96.2626 114.901 95.9501C113.675 95.7204 112.353 95.7257 111.1 96.2717C110.439 96.5598 109.773 96.4417 108.999 96.1559C106.367 95.1845 103.598 95.1549 100.851 95.5277C100.376 95.5923 100.054 95.4236 99.7118 95.2734C96.5382 93.8788 93.4579 94.5075 90.3922 95.6878C90.148 95.7819 89.8331 95.9594 89.6413 95.8729C87.0153 94.6881 84.6702 96.207 82.2211 96.6995C81.2078 96.9033 80.1899 97.0832 79.1814 97.3104C78.0915 97.556 77.0438 97.8754 76.3145 98.9067C76.0255 99.3154 75.6165 99.7067 75.1809 99.9069C73.385 100.733 72.3182 102.017 71.903 104.151C71.5332 106.052 69.7112 107.032 68.684 108.568C66.8465 111.316 64.9506 113.995 63.5642 117.056C63.0558 118.178 62.45 119.182 62.6347 120.503C62.7836 121.567 61.8463 121.957 61.2934 122.493C59.969 123.777 58.7144 124.862 58.7511 127.159C58.7789 128.898 58.0713 130.697 57.4898 132.392C56.3758 135.638 55.5453 138.967 54.6416 142.278C54.2516 143.707 54.2174 145.093 54.4037 146.519C56.7186 147.268 58.6824 146.075 60.7475 145.522C64.4484 144.532 68.1725 143.671 71.9518 143.048C73.6083 142.774 75.2342 142.57 76.8996 142.688'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M146.649 237.489C144.475 236.941 142.938 238.583 141.141 239.312C134.524 241.997 127.819 244.333 120.811 245.611C120.175 245.727 119.662 245.553 119.214 245.55C118.105 243.944 118.913 242.275 119.149 240.726C120.057 234.764 120.749 228.782 121.175 222.764C121.393 219.687 120.06 218.798 116.623 219.748C113.752 220.541 110.796 220.576 107.877 220.938C104.459 221.362 101.027 221.643 97.6067 222.082C95.6101 222.337 93.558 222.486 91.5332 222.53C86.7838 222.633 82.0311 222.552 77.2799 222.572C76.266 222.577 75.2526 222.697 74.239 222.765'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M118.712 168.506C117.951 168.641 117.185 168.922 116.432 168.886C111.478 168.648 106.537 169.117 101.611 169.403C95.5253 169.757 89.4213 170.004 83.3512 170.842C80.614 171.221 77.8255 171.776 74.9942 171.37C73.8247 171.202 73.0891 171.944 73.09 173.347C73.0928 177.408 72.1996 181.379 72.0842 185.448C71.958 189.894 71.8362 194.312 72.0977 198.765C72.4096 204.077 72.6981 209.39 73.0816 214.698C73.256 217.113 73.8547 219.508 73.4788 221.958'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M114.911 141.882C114.442 144.065 115.354 146.086 115.737 148.121C116.972 154.685 117.876 161.306 118.997 167.883C120.73 178.06 121.096 188.282 121.195 198.56C121.251 204.411 121.426 210.26 121.573 216.108C121.594 216.921 121.762 217.73 121.858 218.516C124.809 218.931 127.529 217.972 130.306 217.526C136.493 216.532 142.495 214.685 148.554 213.099C148.778 213.041 149.057 213.218 149.31 213.285'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M209.937 254.23C206.96 254.365 203.982 254.497 201.005 254.638C200.744 254.65 200.466 254.53 200.239 254.831C198.536 257.092 195.858 257.381 193.581 258.437C183.751 262.993 178.714 271.462 176.324 282.072C175.518 285.649 174.66 289.236 174.574 292.957C174.549 294.023 174.031 295.013 173.409 295.745C172.51 296.802 172.484 297.987 172.508 299.21C172.607 304.186 172.729 309.162 172.887 314.136C172.953 316.223 173.13 318.305 173.257 320.389'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M125.934 83.9926C125.934 85.8751 125.934 87.7577 125.934 89.6403C125.934 92.1599 126.085 92.3422 128.404 92.8703C132.314 93.7607 136.165 94.8701 140.009 96.0543C147.767 98.4445 154.844 102.303 161.664 106.785'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M72.7183 172.541C68.6179 172.333 64.7385 173.772 60.7429 174.339C57.1166 174.854 53.6738 176.53 49.91 176.196C49.021 176.117 47.8524 177.734 48.0304 178.79C48.5588 181.925 47.7288 184.977 47.6113 188.071C47.5217 190.428 47.1047 192.777 47.0896 195.132C47.0501 201.251 46.8178 207.384 47.4647 213.484C47.6734 215.451 48.108 217.386 47.4415 219.336C44.3791 219.843 41.4509 218.909 38.5149 218.294C35.3828 217.637 32.2944 216.738 29.1995 215.892C28.2447 215.632 27.3246 215.31 26.3452 215.705'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M147.6 171.33C147.327 174.579 148.507 177.625 148.844 180.798C149.159 183.754 149.571 186.724 149.844 189.689C150.437 196.122 150.515 202.585 150.467 209.049C150.452 211.16 150.985 211.574 152.92 211.263C156.48 210.692 159.781 209.177 163.176 208.014C164.617 207.521 165.999 206.885 167.555 207.032'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M118.901 245.759C118.101 246.995 117.062 247.059 115.671 247.073C113.324 247.097 110.989 247.826 108.637 248.168C105.095 248.683 101.542 249.108 97.9958 249.594C92.1271 250.399 86.2113 250.247 80.3208 250.607C80.0646 250.622 79.8137 250.734 79.5602 250.802'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M72.3384 101.742C70.0228 100.502 68.0357 101.915 66.0812 102.788C60.0545 105.479 54.6776 109.255 50.1141 114.26C49.4543 114.984 48.7715 115.316 47.8208 115.273C45.6291 115.174 44.1802 116.788 42.7107 118.107C33.9161 125.995 26.2858 134.99 20.0613 145.302C19.0649 146.953 18.6306 148.641 19.1233 150.555'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M113.39 140.671C111.882 141.068 110.372 140.955 108.828 140.938C104.396 140.887 99.9553 140.623 95.5237 141.062C94.6445 141.149 93.751 141.078 92.8641 141.074C89.171 141.056 85.5027 141.391 81.8384 141.859C80.7645 141.996 79.6452 141.99 78.61 141.478'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M77.2799 97.7084C75.4079 94.5233 75.5512 90.9553 75.5872 87.4218C75.597 86.4572 76.4156 86.03 77.094 85.614C81.7454 82.7619 86.6371 80.5444 91.9134 79.3503C93.8221 78.9184 95.8371 78.9676 97.6159 77.9421C97.7403 77.8704 97.8772 77.7351 97.9946 77.75C105.395 78.6941 112.819 79.5573 119.467 83.5985C120.531 84.2455 121.028 85.1454 121.05 86.6138C121.097 89.7733 120.592 92.8272 120.042 95.8931'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M194.353 192.913C195.778 195.464 195.217 198.19 194.664 200.762C194.198 202.934 193.083 204.795 194.04 207.287C194.545 208.6 193.945 210.506 193.563 212.066C192.308 217.194 191.293 222.448 188.976 227.171C187.152 230.888 185.54 234.862 182.189 237.489'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M174.207 217.117C173.009 218.101 172.278 219.313 171.862 220.931C171.459 222.501 170.645 223.935 169.295 225.024C167.871 226.173 167.187 227.77 166.893 229.81C166.443 232.938 165.127 235.886 163.724 238.682C160.336 245.435 155.053 250.212 148.924 254.019C147.648 254.811 146.294 255.451 144.724 254.747C143.377 255.881 142.414 257.336 141.328 258.668'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M167.555 174.759C166.87 176.803 167.502 178.855 167.816 180.798C168.799 186.901 168.663 193.03 168.701 199.165C168.712 200.998 168.454 202.869 169.266 204.611'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M125.458 255.844C125.455 256.992 126.071 257.411 127.073 257.464C130.559 257.649 134.042 257.87 137.527 258.059C139.23 258.151 141.111 257.685 141.953 260.058C142.058 260.353 142.91 260.459 143.419 260.465C146.31 260.497 148.813 261.463 151.055 263.465C151.977 264.289 153.474 264.221 154.435 265.131C159.244 269.684 163.96 274.345 166.778 280.662C168.549 284.63 169.437 288.916 170.391 293.163C170.724 294.646 171.441 295.812 172.497 296.79'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M161.854 150.555C163.613 149.659 165.138 150.785 166.585 151.413C173.517 154.422 180.507 157.333 186.754 161.846C186.986 162.014 187.253 162.224 187.512 162.238C190.92 162.426 191.497 165.261 192.038 167.909C192.925 172.251 193.593 176.642 194.352 181.013C194.363 181.078 194.367 181.151 194.351 181.213C193.537 184.377 195.081 187.365 194.966 190.494C194.914 191.906 194.706 192.662 193.221 192.959C190.661 193.471 188.657 195.346 186.377 196.556C183.944 197.846 181.588 199.303 179.133 200.543C178.167 201.03 177.04 201.258 175.918 200.981'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M126.504 117.274C128.89 116.132 131.094 117.497 133.338 117.922C135.904 118.408 138.422 119.189 140.943 119.914C141.839 120.172 142.813 120.328 143.586 120.031C144.618 119.634 145.326 119.894 146.078 120.502C146.653 120.967 147.216 121.448 147.79 121.912C149.025 122.908 150.158 123.783 151.986 123.411C153.664 123.07 155.31 124.13 156.905 124.757C162.212 126.845 167.419 129.17 172.126 132.588C172.56 132.903 173.129 133.176 173.637 133.181C177.121 133.212 178.759 136.003 180.44 138.482C183.335 142.752 185.251 147.616 187.305 152.378C188.098 154.214 188.703 156.14 189.415 158.016C189.971 159.479 190.174 160.946 189.601 162.455'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M26.3453 259.475C26.2758 262.601 28.4927 264.194 30.3577 265.903C35.424 270.546 41.2269 274.073 46.8882 277.801C47.5223 278.218 48.4802 278.566 49.1346 278.37C50.8401 277.859 51.8435 278.852 52.9574 279.841C57.7542 284.1 63.7446 285.417 69.5017 287.26C70.6876 287.64 72.047 287.31 73.2886 286.907'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M2.96865 196.745C1.71272 199.854 1.73991 203.099 2.69426 206.188C3.03516 207.292 2.53864 207.976 2.53141 208.847C2.49783 212.893 3.637 216.682 4.46742 220.551C5.33111 224.576 7.26401 227.785 10.3749 230.236C11.1209 230.824 11.5571 231.709 11.6947 232.651C12.6074 238.905 15.4224 244.433 17.6459 250.178C18.3092 251.891 19.7315 253.168 21.0327 254.422C22.7621 256.088 24.5553 257.68 26.3408 259.322C27.8075 258.962 29.2604 258.606 30.784 258.232C32.3253 259.438 33.8721 260.704 35.4752 261.884C36.8878 262.924 38.4064 263.705 40.2192 263.307'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M105.788 114.248C103.412 115.37 100.837 114.748 98.364 115.182C94.4798 115.865 90.5129 116.004 86.5995 116.528C85.9776 116.611 85.4432 116.531 84.8835 116.452C83.679 116.284 82.246 117.086 82.2618 118.282C82.3102 121.941 80.8075 125.241 80.2967 128.767C79.7017 132.874 78.2333 136.831 78.4191 141.075C78.425 141.209 78.4741 141.414 78.4121 141.468C76.2423 143.348 77.4985 146.075 76.9996 148.361C76.0791 152.577 75.6636 156.931 75.2201 161.249C74.8829 164.531 73.5772 167.738 74.4288 171.129'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M175.158 175.566C173.855 175.615 172.566 175.41 171.365 174.937C169.483 174.195 167.264 174.891 165.569 173.032C164.96 172.363 163.374 172.804 162.222 172.634C158.115 172.03 154.04 171.036 149.88 170.953C146.877 170.893 143.969 170.11 140.953 169.984C137.734 169.85 134.479 169.614 131.25 169.404C128.408 169.22 125.566 168.793 122.702 168.894C121.73 168.928 120.779 168.993 119.852 169.313'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M47.8214 178.188C46.5313 177.767 45.2644 178.034 44.0223 178.398C39.0167 179.863 34.045 181.445 29.193 183.424C28.7091 183.622 28.1862 183.796 27.675 183.819C26.0095 183.893 24.7469 184.574 24.0928 186.497C24.9101 187.807 24.4391 189.468 24.4559 191.097C24.5191 197.219 24.5195 203.344 24.9969 209.454C25.1074 210.867 25.1236 212.313 24.6348 213.688'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M48.7718 220.748C50.7756 219.884 52.8906 220.387 54.8373 220.671C56.8036 220.958 58.8238 221.129 60.7508 221.224C64.7426 221.421 68.6905 222.506 72.7202 221.972C73.7675 221.833 74.1704 222.459 74.2578 223.57C74.7413 229.717 76.0562 235.71 77.2085 241.74C77.6773 244.194 77.8727 246.854 78.5814 249.131C79.6868 252.684 80.2146 256.39 81.4642 259.877C82.8905 263.856 84.0303 267.95 85.7996 271.796C86.2109 272.69 86.2124 273.796 86.4024 274.804'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M33.1872 240.918C34.6786 240.359 35.9951 241.018 37.3744 241.504C41.158 242.837 44.9633 244.103 48.776 245.34C49.941 245.718 51.1503 246.069 52.2712 245.485C54.0948 246.666 54.43 248.286 54.8145 250.367C55.4692 253.91 56.8686 257.357 58.3366 260.654C59.566 263.414 60.745 266.243 62.4452 268.761C63.6668 270.57 63.7689 272.67 63.5958 274.804'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M54.2833 146.723C52.967 148.114 52.2974 149.54 52.2404 151.761C52.1556 155.071 51.025 158.338 50.5058 161.653C49.8979 165.535 49.4658 169.448 48.9637 173.348C48.8381 174.324 49.1523 175.24 49.3419 176.171'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M107.118 115.458C106.956 116.667 107.344 117.799 107.711 118.879C109.763 124.927 111.42 131.104 113.206 137.24C113.651 138.77 113.078 140.749 114.814 141.663C117.051 141.145 119.233 141.407 121.37 141.531C125.054 141.744 128.716 142.363 132.398 142.655C134.158 142.794 135.884 143.425 137.74 142.762C138.774 142.392 140.484 144.469 140.58 145.713C140.638 146.458 140.726 147.229 140.963 147.927C143.044 154.067 144.674 160.341 146.146 166.674C146.414 167.827 146.273 168.838 146.269 169.918'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M109.969 96.7C110.319 98.0199 110.867 99.1759 111.856 100.145C115.098 103.325 117.876 106.952 120.638 110.596C121.032 111.117 121.487 111.719 121.511 112.234C121.623 114.68 123.355 115.518 124.991 116.453C125.866 116.953 126.159 117.632 126.366 118.674C126.859 121.151 128.535 123.047 129.787 125.104C132.506 129.571 134.897 134.228 137.289 138.884C137.813 139.904 138.213 141.189 137.907 142.487'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M55.0435 247.776C56.6531 247.158 58.2492 247.666 59.7883 248.01C65.1866 249.219 70.6529 249.785 76.141 250.171C76.8896 250.223 77.6599 249.928 78.4201 249.793'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M136.767 265.728C135.363 265.384 134.126 265.773 132.755 266.268C127.152 268.293 121.592 270.515 115.678 271.426C114.883 271.548 114.268 271.346 113.58 271.174'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M47.6313 219.538C48.3215 220.097 48.6179 220.779 48.6042 221.757C48.526 227.305 50.0944 232.558 51.2069 237.901C51.7175 240.353 53.259 242.652 52.3827 245.356'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M111.109 273.393C109.399 272.317 107.606 273.105 105.993 273.47C101.463 274.497 96.8831 274.987 92.2902 275.358C90.9536 275.466 89.7177 275.723 88.4929 276.216'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M117.571 247.574C118.02 250.365 117.129 252.983 116.609 255.64C115.836 259.586 114.936 263.499 113.783 267.346C113.166 269.404 113.73 271.913 111.355 273.299C110.9 273.565 111.304 275.193 110.959 276.231C109.588 280.35 107.705 284.185 105.604 287.919C104.964 289.056 104.485 290.265 104.648 291.647'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M175.918 169.918C175.811 171.744 176.256 173.634 175.289 175.496C176.304 176.513 176.842 177.667 175.96 179.224C175.635 179.796 175.737 180.676 175.736 181.415C175.726 187.272 175.655 193.125 175.169 198.965C175.086 199.97 175.944 200.88 175.367 202.001C174.562 203.564 173.417 204.308 171.739 204.441C170.111 204.57 168.299 204.58 167.91 207.376C168.777 209.222 168.172 211.67 167.92 214.09C167.674 216.451 167.304 218.798 166.984 221.151C166.751 222.869 167.529 224.304 168.125 225.79'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M150.26 123.93C149.935 126.525 151.715 128.201 152.754 130.169C155.209 134.817 157.017 139.755 158.816 144.704C159.137 145.588 159.173 146.454 158.813 147.328'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M157.292 268.955C155.314 271.639 152.78 273.717 150.431 275.993C149.862 276.544 149.055 277.164 148.36 277.161C146.221 277.152 144.955 278.546 143.819 280.066C141.012 283.821 136.83 284.974 132.953 286.674C130.916 287.567 128.977 289.21 126.488 288.159C126.225 288.048 125.707 288.468 125.369 288.731C123.158 290.452 120.52 290.902 117.944 291.293C114.491 291.818 111.01 292.477 107.5 292.127C104.259 291.804 101.046 292.708 97.8 292.19C96.7014 292.015 95.6161 292.029 94.7646 291.142'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M11.3311 210.259C14.4675 210.298 17.1752 211.947 20.0742 212.879C20.9569 213.163 21.8404 213.609 22.7358 213.646C24.2694 213.709 25.45 214.202 26.1064 215.815C25.2387 218.776 26.2248 221.685 26.9462 224.571C27.6951 227.569 28.6737 230.502 29.5836 233.453C29.9698 234.705 30.5984 235.871 30.1718 237.296C29.946 238.05 30.7604 238.494 31.1376 238.853C32.4347 240.086 33.0249 241.367 33.0974 243.334C33.187 245.766 34.5692 247.958 35.5222 250.17C36.7566 253.035 38.4004 255.699 39.8288 258.472C40.3046 259.396 40.58 260.407 40.4095 261.492C40.1841 262.927 40.6327 264.024 41.7285 264.936C43.3554 266.29 44.8645 267.804 46.5026 269.141C48.2838 270.595 49.8518 272.233 52.5856 271.897C54.8076 271.624 56.7832 273.528 59.0208 274.062C60.2257 274.35 61.384 274.748 62.644 274.832C64.3443 274.944 65.647 275.989 66.8302 277.221C68.589 279.053 70.1012 281.156 72.1484 282.671C72.6818 283.065 73.1102 283.411 73.1325 284.283C73.2061 287.156 74.4352 288.77 77.0941 289.302C81.3729 290.158 85.6586 291.007 90.013 291.348C91.0895 291.433 92.0784 291.894 93.2574 291.607C94.7621 291.24 95.1101 290.415 94.5468 289.139C93.8387 287.535 92.8348 286.079 92.1251 284.476C90.9923 281.917 89.0333 279.832 88.5846 276.838C88.4352 275.841 87.2694 274.758 85.8329 275.21C83.4538 275.959 81.0152 275.605 78.6105 275.573C76.0112 275.539 73.4145 275.218 70.8182 275.002C69.2362 274.871 67.8047 275.194 66.6367 276.418'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M141.898 260.483C141.076 262.345 139.363 263.317 138.049 264.667C137.364 265.37 137.038 265.926 136.913 266.932C136.574 269.671 134.77 271.71 133.498 273.974C131.485 277.559 129.234 280.994 127.07 284.483C126.381 285.594 126.126 286.814 126.124 288.117'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M140.758 144.705C142.697 143.553 144.565 144.605 146.46 144.904C149.836 145.437 153.055 146.626 156.343 147.525C157.16 147.748 157.989 147.906 158.631 147.536C159.669 148.638 160.619 149.647 161.658 150.749C161 152.219 161.844 153.696 162.256 155.187C163.532 159.806 165.011 164.357 165.906 169.099C166.157 170.429 166.246 171.651 166.035 172.944'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M52.0026 149.546C50.0956 148.756 48.4237 149.822 46.8987 150.615C42.8288 152.729 38.6208 154.597 34.8948 157.408C33.7657 158.26 32.4846 158.647 31.0967 158.623'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M175.728 218.125C176.621 223.251 177.245 228.439 179.308 233.268C179.914 234.686 180.317 236.159 181.614 237.093C182.538 237.759 182.131 239.088 182.762 239.907C186.81 245.167 191.492 249.591 197.39 252.425C198.474 252.945 199.641 253.392 200.244 254.634'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M150.831 211.469C150.564 212.22 149.726 212.5 149.634 213.27C150.256 215.549 149.885 217.848 149.692 220.143C149.494 222.495 149.266 224.846 149.138 227.203C149.068 228.492 148.78 229.748 148.651 231.024C148.528 232.236 148.788 233.213 149.06 234.357C148.993 234.463 148.897 234.699 148.735 234.862C147.527 236.077 147.068 237.384 147.123 239.308C147.224 242.897 145.911 246.318 145.101 249.786C144.725 251.396 144.17 252.944 144.559 254.634'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M82.0311 117.879C78.6595 117.465 75.5405 118.774 72.341 119.506C70.2994 119.973 68.2685 120.512 66.2625 121.128C65.1108 121.481 63.9936 121.578 62.8356 121.308'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M89.8233 96.0948C89.9609 98.8329 88.2766 100.926 87.5199 103.348C86.4861 106.657 85.0946 109.834 84.297 113.236C84.0748 114.183 83.733 115.088 84.1217 116.064'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M9.62061 194.324C10.3381 195.571 10.5146 196.946 10.371 198.357C10.1381 200.648 10.1221 202.929 10.3759 205.217C10.4868 206.217 10.268 207.16 9.80763 208.048C9.91288 208.966 10.9318 209.211 11.0395 210.452C10.0101 212.814 11.1344 215.576 11.205 218.325C11.2554 220.285 11.9795 222.214 12.2603 224.18C12.5667 226.326 11.9032 228.262 10.7609 230.026'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M130.875 100.331C130.827 101.701 131.51 102.701 132.4 103.552C136.24 107.226 139.569 111.411 143.063 115.435C144.103 116.633 144.798 117.852 144.749 119.492'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M35.6579 139.26C36.1951 141.199 35.661 142.993 34.8842 144.699C33.4209 147.912 32.2989 151.267 31.1047 154.592C30.92 155.107 30.6265 155.732 30.7529 156.191C31.4068 158.568 30.0022 160.03 28.8304 161.66C27.7354 163.184 26.5748 164.545 27.1862 166.925C27.62 168.613 26.6095 170.521 26.2628 172.321C25.6814 175.34 25.387 178.378 25.0161 181.416C24.9005 182.362 25.3547 183.174 25.5851 184.038'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M29.9562 237.691C27.865 238.59 26.2133 237.064 24.4665 236.414C22.5336 235.696 20.6992 234.584 18.9509 233.425C16.7172 231.944 14.3846 231.735 11.9011 232.245'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M10.9509 166.691C8.39832 167.708 7.7429 170.298 6.80778 172.558C5.86844 174.829 5.00887 177.146 4.40147 179.575C4.18915 180.425 3.90513 181.401 4.16962 181.99C5.51503 184.984 3.85169 187.455 3.1471 190.085C2.59288 192.154 2.15405 194.206 2.77863 196.341'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M193.213 204.612C191.827 205.027 190.755 205.802 189.751 206.994C186.55 210.792 182.802 213.939 178.794 216.755C178.227 217.153 177.647 217.492 177.049 217.693C174.983 218.388 174.068 216.88 174.206 215.1C174.399 212.613 174.573 210.124 174.783 207.638C174.885 206.43 174.612 205.311 174.207 204.208'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M166.795 228.412C164.708 227.667 162.819 227.994 160.883 229.181C158.114 230.878 155.189 232.287 152.358 233.871C151.317 234.454 150.236 234.497 149.12 234.463'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M100.466 95.8933C100.104 97.1398 100.624 98.2208 101.036 99.3223C102.747 103.891 104.656 108.391 105.579 113.244C105.773 114.263 106.448 114.723 107.13 115.267C109.138 114.232 111.296 114.651 113.389 114.687C116.248 114.735 119.11 115.413 121.942 114.45'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M193.783 184.441C191.418 184.745 189.646 183.177 187.711 182.201C184.111 180.385 180.757 177.958 176.678 177.381'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M48.9617 115.458C49.1839 117.397 48.6764 119.113 47.6381 120.708C45.8977 123.381 43.5339 125.732 43.614 129.377C43.6212 129.708 43.3255 130.129 43.0599 130.372C40.5228 132.694 38.5118 135.51 36.4039 138.239C36.127 138.597 35.8901 139.076 35.2778 139.072C32.7336 139.057 31.0956 140.905 29.4044 142.508C27.3012 144.502 25.3252 146.648 23.3075 148.743C22.4506 149.632 21.5509 150.318 20.265 150.384C19.4011 150.428 18.7311 150.926 18.1463 151.744C15.1518 155.928 12.4707 160.269 11.336 165.482C11.2355 165.944 10.9834 166.633 11.1756 166.86C12.878 168.868 11.7508 171.608 12.8391 173.758C13.1336 174.339 12.7776 174.846 12.4901 175.376C12.0393 176.207 11.5997 177.079 11.3533 177.993C10.7698 180.16 9.46432 182.074 10.6437 184.702C11.4701 186.544 10.2391 189.036 11.331 191.097C10.3287 192.066 10.4137 193.967 8.67546 194.351C6.91282 194.74 5.5638 196.286 3.72711 196.528C3.42313 196.568 3.03744 196.716 2.77863 196.342'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M58.6546 124.938C57.401 124.57 56.2241 124.734 55.0371 125.327C52.6515 126.519 50.1802 127.528 47.8405 128.81C46.5247 129.531 45.2233 129.657 43.8304 129.578'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M26.7254 164.674C25.3463 164.64 24.1052 165.216 23.1399 166.117C20.8792 168.228 18.3078 169.95 16.2674 172.334C15.4062 173.341 14.4492 174.212 13.0415 174.154'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M151.21 263.912C149.408 266.778 148.397 270.082 146.712 273.03C146.017 274.246 145.786 275.889 146.269 277.427'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M23.8747 186.458C22.4351 186.119 21.1406 186.805 19.901 187.313C17.8725 188.144 15.891 189.166 14.0214 190.343C13.1879 190.868 12.3231 190.754 11.5212 191.097'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M25.395 249.39C26.4142 250.979 27.6811 252.344 29.0232 253.605C30.3246 254.827 30.8558 256.276 30.7165 258.063'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
            <path
              d='M79.5603 292.371C77.5118 291.679 75.5 290.557 73.2886 291.766'
              stroke='#005E4A'
              stroke-width='3'
              stroke-linecap='round'
              stroke-linejoin='round'></path>
          </svg>
        </div>
        <Sparkles client:load>
          <div class='min-[1330px]:mt-16 max-[1330px]:mt-64'>
            <div class='font-balmy text-9xl text-custom-green'>
              George
            </div>
            <div class='flex text-center w-full justify-center'>
              <div class='font-sacramento text-9xl text-custom-green mr-8'>
                &
              </div>
              <div class='font-balmy text-9xl text-custom-green'>Izzy</div>
            </div>
          </div>
        </Sparkles>
      </div>
      <div class='font-balmyScript mt-16 text-4xl text-white'>
        save the date
      </div>
      <div class='font-balmy text-4xl text-custom-green mt-6'>21.06.2025</div>
      <div class='font-balmyScript mt-16 text-4xl text-white'>address</div>
      <div class='flex flex-col'>
        <div class='font-balmy text-4xl text-custom-green mt-6'>
          Bignor Park
        </div>
        <div class='font-balmy text-4xl text-custom-green'>West Sussex</div>
        <div class='font-balmy text-4xl text-custom-green'>RH20 1HG</div>
      </div>
    </div>
  </main>
</Layout>
