---
import Layout from '../layouts/Layout.astro';
import Polaroid from '../components/polaroid/Polaroid.astro';
import Divider from '../components/divider/Divider.astro';
import What3Words from '../components/what3words/What3Words.astro';
import Heading from '../components/heading/Heading.astro';
import hideThePain from '../assets/hide_the_pain.jpeg';
---

<Layout title="George & Izzy's Wedding 2025">
  <div class='flex flex-col items-center w-2/3 m-auto'>
    <div class='w-1/2'>
      <Polaroid isVideo src="https://www.bignorpark.co.uk/wp-content/uploads/2022/05/Bignorpark-Video-A-001_720.mp4" text='Bignor Park' />
    </div>
    <Divider />
  </div>
  <div class='flex justify-center w-4/5 m-auto'>
    <iframe
      width='100%'
      height='600'
      style='border:0'
      loading='lazy'
      allowfullscreen
      src=`https://www.google.com/maps/embed/v1/place?q=place_id:ChIJC_h1lC23dUgRaW0Yqx77OXo&key=${import.meta.env.MAPS_API_KEY}`
    ></iframe>
  </div>
  <div class='flex flex-col items-center w-2/3 m-auto mt-24'>
    <div
      class='flex flex-col items-center font-montserrat text-white text-xl tracking-[0.25em] font-bold'
    >
      <p class='text-5xl mb-8'>📍</p>
      <p>BIGNOR PARK</p>
      <p>PULBOROUGH</p>
      <p>WEST SUSSEX</p>
      <p class='mb-24'>RH20 1HG</p>
      <What3Words />
      <a href="https://what3words.com/diner.snapper.releasing" target="_blank" class='mt-8'>///diner.snapper.releasing</a>
    </div>
    <Divider />
    <Heading heading='🏩' text='WHERE TO STAY' />
    <p class='font-montserrat text-2xl text-white mt-12'>
      Below are some nearby hotels recommended by the venue:
    </p>
    <div class='w-1/2 mt-12'>
      <Polaroid src={hideThePain} text='Working on it!' />
    </div>
  </div>
</Layout>
