---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import theGrange from '../assets/grange.jpeg';
---

<Layout title="George & Izzy's Wedding 2024">
  <div class='flex flex-col w-2/3 m-auto'>
    <div class='flex flex-col shadow-2xl'>
      <Image
        class='w-full border-white border-8 border-b-0'
        src={theGrange}
        alt='The Grange at Northington'
      />
      <div
        class='flex justify-center items-center bg-white h-8 w-full py-10 font-rubik-mono text-2xl'
      >
        The Grange
      </div>
    </div>
  </div>
</Layout>
