---
import Nav from '../components/nav/Nav.astro';

interface Props {
  title: string;
  noNav?: boolean;
}

const { noNav, title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content="Website for George & Izzy's wedding in 2024"
    />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&family=Sacramento&display=swap'
      rel='stylesheet'
    />
    <title>{title}</title>
  </head>
  <body>
    {!noNav && <Nav />}
    <slot />
  </body>
</html>
<style is:global>
  @font-face {
    font-family: 'Balmymorningblock';
    src: url('/src/fonts/Balmymorningblock.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Balmymorningscript';
    src: url('/src/fonts/Balmymorningscript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #FFB5B1;
    padding-bottom: 10vh;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  #root,
  #__next {
    isolation: isolate;
  }
</style>
