---
import NavLink from '../nav-link/NavLink.astro';
import GeorgeAndIzzyMini from '../groovy-text/GeorgeAndIzzyMini.astro';
---

<nav class='flex justify-around items-center mt-4 mb-16'>
  <NavLink href='/venue'>VENUE</NavLink>
  <NavLink href='/schedule'>SCHEDULE</NavLink>
  <NavLink href='/home'><GeorgeAndIzzyMini /></NavLink>
  <NavLink href='/registry'>GIFT REGISTRY</NavLink>
  <NavLink href='/faq'>FAQ</NavLink>
</nav>
