---
import NavLink from '../nav-link/NavLink.astro';
import GeorgeAndIzzyMini from '../groovy-text/GeorgeAndIzzyMini.astro';
---

<nav class='flex justify-around items-center mt-4'>
  <NavLink href='/venue' text='VENUE' />
  <NavLink href='/schedule' text='SCHEDULE' />
  <GeorgeAndIzzyMini />
  <NavLink href='/registry' text='GIFT REGISTRY' />
  <NavLink href='/faq' text='FAQ' />
</nav>
